* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar .nav-link {
  color: white;
  transition: color 0.3s;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  text-transform: uppercase;
  font-family: "Inter", sans-serif !important;
}

.navbar.scrolled {
  background-color: #fff !important;
  /* Dark background on scroll */
}

.navbar.scrolled .nav-link {
  color: #000 !important;
}

.navbar .scrolled button {
  background: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  border: none;
  border-radius: 29px;
  border: 1px solid #000;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
}
.navbar .scrolled button a {
  text-decoration: none;
  color: #4c4c4c;
}

.navbar {
  transition: all 0.1s;
  background: transparent;
  position: fixed !important;
  top: 0px;
  width: 100%;
  padding: 0px;
  z-index: 1000;
}
@media (max-width: 991px) {
  .navbar .navbar-logo {
    width: 150px;
  }
}
.navbar .nav-links {
  color: #fff !important;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  font-family: "Inter", sans-serif !important;
  text-transform: uppercase !important;
}
@media (max-width: 991px) {
  .navbar .nav-links {
    color: #fff !important;
  }
}
.navbar .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../Images/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.navbar .dropdown-item {
  color: #000 !important;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.navbar .dropdown-item:active {
  color: #FFF !important;
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
}
.navbar button {
  background: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  border: none;
  border-radius: 29px;
  border: 1px solid #FFF;
  color: #FFF;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
  text-transform: uppercase;
}
.navbar button a {
  text-decoration: none;
  color: #fff;
}

.home-banner {
  width: 100%;
  height: 100vh;
  padding: 0px;
}
.home-banner video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-about-us {
  padding: 30px 0px;
  overflow: hidden;
}
.home-about-us .img-box {
  height: 350px;
  width: 100%;
}
.home-about-us .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-about-us h6 {
  color: #6B3A1D;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  font-family: "Inter", sans-serif;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.home-about-us h2 {
  color: #2B2B2B;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 0px;
}
.home-about-us h2 span {
  color: #B93822;
}
@media (max-width: 991px) {
  .home-about-us h2 {
    font-size: 18px;
  }
}
.home-about-us p {
  color: #323031;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
  margin-bottom: 0px;
  padding-bottom: 17px;
}
@media (max-width: 991px) {
  .home-about-us p {
    font-size: 12px;
  }
}
.home-about-us button {
  background: none;
  padding-bottom: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #2D2D2D;
  display: flex;
  align-items: center;
  gap: 10px;
}
.home-about-us button a {
  color: #2D2D2D;
  font-family: Unbounded;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  /* 145.455% */
  text-decoration: none;
}

.home-our-products {
  padding: 20px 0px;
  overflow: hidden;
}
.home-our-products h2 {
  color: var(--Color-Gray-1, #3A3A3A);
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.home-our-products .product-box {
  width: 100%;
  height: 250px;
  position: relative;
}
@media (max-width: 991px) {
  .home-our-products .product-box {
    height: 150px;
    width: 100%;
  }
}
.home-our-products .product-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.home-our-products .product-box .product-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 0px;
  background-color: rgba(51, 51, 51, 0.65);
}
.home-our-products .product-box .product-name h4 {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-bottom: 0px;
  letter-spacing: 1px;
}
@media (max-width: 991px) {
  .home-our-products .product-box .product-name h4 {
    font-size: 12px;
  }
}

.home-applications {
  padding: 10px 0px;
  background: #323031;
}
.home-applications h2 {
  color: #FFF;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  /* 43.762px */
}
.home-applications .post-slide {
  flex-shrink: 0;
  margin: 20px 8px 8px;
  height: 100%;
  background: #D9D9D9;
}
.home-applications .post-slide img {
  border-radius: 0px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-applications .post-slide h3 {
  color: #734326;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
  padding: 10px 0px;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
}
@media (max-width: 991px) {
  .home-applications .post-slide h3 {
    font-size: 12px;
    text-transform: capitalize;
  }
}
.home-applications .owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}
@media only screen and (max-width: 1280px) {
  .home-applications .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}

.home-news {
  padding: 10px 0px;
}
.home-news h2 {
  color: #1F1E17;
  text-align: center;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.home-news h6 {
  color: #EEC044;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  font-family: "Inter", sans-serif;
  margin-bottom: 0px;
  padding-bottom: 2px;
}
.home-news .post-slide {
  flex-shrink: 0;
  margin: 20px 15px 20px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
  padding: 5px;
}
.home-news .post-slide img {
  border-radius: 10px;
}
.home-news .post-slide .blog-image {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-news .post-slide .news-low-box {
  margin-top: -20px;
  padding-bottom: 5px;
}
.home-news .post-slide button {
  border-radius: 10px;
  background: var(--Primary, #B93822);
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: none;
}
.home-news .post-slide h3 {
  color: #1F1E17;
  text-align: center;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  .home-news .post-slide h3 {
    font-size: 12px;
  }
}
.home-news .post-slide p {
  color: #878680;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
  text-align: center;
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  .home-news .post-slide p {
    font-size: 8px;
  }
}
.home-news .owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}
@media only screen and (max-width: 1280px) {
  .home-news .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}

.usps {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(247, 243, 243, 0.9647058824);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.usps h2 {
  color: var(--Primary, #B93822);
  text-align: center;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 100%;
}
@media (max-width: 991px) {
  .usps h2 {
    font-size: 22px;
  }
}
.usps p {
  color: #878680;
  text-align: center;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
}

.contact-banner {
  background: url(../Images/contact-banners.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-banner .col-12 {
  padding: 50px 40px;
  background-color: #333;
  background-color: rgba(51, 51, 51, 0.7);
}
.contact-banner .nav-pills .nav-link.active, .contact-banner .nav-pills .show > .nav-link {
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  font-style: normal !important;
  font-size: 17px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
}
.contact-banner .nav-pills .nav-link {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  font-style: normal !important;
  font-size: 17px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
  background-color: rgba(51, 51, 51, 0.85);
}
.contact-banner h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  font-family: "Inter", sans-serif;
  color: #fff;
}
.contact-banner p {
  font-style: normal !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  font-family: "Inter", sans-serif !important;
  color: #fff;
  margin-bottom: 0px;
}/*# sourceMappingURL=style.css.map */